# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.9.2
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=3_kmp_llvm
absl-py=2.2.0=pypi_0
accelerate=1.2.1=pypi_0
adabench=1.2.66=pypi_0
addict=2.4.0=pypi_0
adelaidet=0.2.0=pypi_0
aenum=3.1.15=pypi_0
aii-pypai=0.1.41.4=pypi_0
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.11.14=pypi_0
aiosignal=1.3.2=pypi_0
airportsdata=20250224=pypi_0
aistudio-analyzer=0.0.4.120=pypi_0
aistudio-checkpoint=0.1.250326=pypi_0
aistudio-common=0.0.28.65=pypi_0
aistudio-notebook=2.0.132=pypi_0
aistudio-sdk=0.2.6=pypi_0
aistudio-serving=0.0.0.97=pypi_0
alabaster=1.0.0=pypi_0
albucore=0.0.23=pypi_0
albumentations=2.0.5=pypi_0
alipay-pcache=0.1.8=pypi_0
aliyun-log-python-sdk=0.9.16=pypi_0
aliyun-python-sdk-core=2.16.0=pypi_0
aliyun-python-sdk-kms=2.16.5=pypi_0
alps=2.3.2.9=pypi_0
altair=5.5.0=pypi_0
anaconda-anon-usage=0.7.0=py310hfc0e8ea_100
analytics-python=1.4.post1=pypi_0
annotated-types=0.7.0=pypi_0
antflake8=0.1.4=pypi_0
antllm=4.0.20241211=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.9.0=pypi_0
aom=3.9.1=hac33072_0
apex=0.1+dt2412=pypi_0
appdirs=1.4.4=pypi_0
archspec=0.2.5=pyhd8ed1ab_0
argcomplete=3.6.1=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
argparse-dataclass=2.0.0=pypi_0
arrow=1.3.0=pypi_0
arxiv=2.2.0=pypi_0
astor=0.8.1=pypi_0
astroid=3.3.9=pypi_0
asttokens=3.0.0=pypi_0
astunparse=1.6.3=pypi_0
async-lru=2.0.5=pypi_0
async-timeout=5.0.1=pypi_0
atorch=1.2.1=pypi_0
attr=2.5.1=h166bdaf_1
attrdict=2.0.1=pypi_0
attrs=25.3.0=pypi_0
audioread=3.0.1=pypi_0
auto-gptq=0.7.1+cu126=pypi_0
autoawq=0.2.8=pypi_0
autoawq-kernels=0.0.9=pypi_0
autograd=1.7.0=pypi_0
automat=24.8.1=pypi_0
autopep8=2.3.2=pypi_0
av=14.2.0=pypi_0
azure-core=1.32.0=pypi_0
azure-storage-blob=12.25.0=pypi_0
babel=2.17.0=pypi_0
backoff=2.2.1=pypi_0
backports-tarfile=1.2.0=pypi_0
bce-python-sdk=0.9.29=pypi_0
bcrypt=4.3.0=pypi_0
beautifulsoup4=4.13.3=pypi_0
bertopic=0.17.0=pypi_0
binpacking=1.5.2=pypi_0
bitsandbytes=0.45.3=pypi_0
black=25.1.0=pypi_0
blake3=1.0.4=pypi_0
bleach=6.2.0=pypi_0
blessed=1.20.0=pypi_0
blinker=1.9.0=pypi_0
blis=0.7.11=pypi_0
blosc2=2.7.1=pypi_0
boltons=24.0.0=pyhd8ed1ab_1
boto3=1.37.18=pypi_0
botocore=1.37.18=pypi_0
brotli-python=1.1.0=py310hf71b8c6_2
build=1.2.2.post1=pypi_0
bzip2=1.0.8=h4bc722e_7
c-ares=1.34.4=hb9d3cd8_0
ca-certificates=2025.2.25=h06a4308_0
cachetools=5.5.2=pypi_0
cairo=1.18.0=hbb29018_2
captum=0.7.0=pypi_0
catalogue=2.0.10=pypi_0
catboost=1.2.7=pypi_0
cattrs=24.1.3=pypi_0
causal-conv1d=1.5.0.post8=pypi_0
certifi=2025.1.31=pyhd8ed1ab_0
cffi=1.17.1=py310h8deb56e_0
cfgv=3.4.0=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.4.1=pyhd8ed1ab_0
chinese2digits=6.0.2=pypi_0
chineseize-matplotlib=1.2=pypi_0
chroma-hnswlib=0.7.3=pypi_0
chromadb=0.4.17=pypi_0
click=8.1.8=pypi_0
click-config-file=0.6.0=pypi_0
click-option-group=0.5.7=pypi_0
cloudpathlib=0.21.0=pypi_0
cloudpickle=3.1.1=pypi_0
cma=2.7.0=pypi_0
cmake=3.31.6=pypi_0
cn2an=0.5.23=pypi_0
codetiming=1.4.0=pypi_0
colorama=0.4.6=pyhd8ed1ab_1
colored=2.3.0=pypi_0
coloredlogs=15.0.1=pypi_0
colorlog=6.9.0=pypi_0
colossalai=0.4.9=pypi_0
comm=0.2.2=pypi_0
compressed-tensors=0.9.2=pypi_0
concurrent-log-handler=0.9.20=pypi_0
conda=24.9.2=py310hff52083_0
conda-content-trust=0.2.0=pyhd8ed1ab_0
conda-libmamba-solver=25.3.0=pypi_0
conda-package-handling=2.4.0=pyh7900ff3_2
conda-package-streaming=0.11.0=pyhd8ed1ab_1
confection=0.1.5=pypi_0
configobj=5.0.9=pypi_0
configparser=7.2.0=pypi_0
constantly=23.10.4=pypi_0
contexttimer=0.3.3=pypi_0
contourpy=1.3.1=pypi_0
controlnet-aux=0.0.9=pypi_0
coolname=2.2.0=pypi_0
cpca=0.5.5=pypi_0
cpm-kernels=1.0.11=pypi_0
cpp-expected=1.1.0=hf52228f_0
cramjam=2.9.1=pypi_0
crc32c=2.7.1=pypi_0
crcmod=1.7=pypi_0
cryptography=43.0.3=py310h6c63255_0
cssselect=1.3.0=pypi_0
cuda-python=12.6.0=pypi_0
cudf-cu12=24.12.0=pypi_0
cuml-cu12=24.12.0=pypi_0
cupy-cuda12x=13.4.1=pypi_0
curl=8.10.1=hbbe4b11_0
cut-cross-entropy=25.1.1=pypi_0
cuvs-cu12=24.12.0=pypi_0
cycler=0.12.1=pypi_0
cymem=2.0.11=pypi_0
cython=3.0.12=py310had8cdd9_0
dacite=1.9.2=pypi_0
dask=2024.11.2=pypi_0
dask-cuda=24.12.0=pypi_0
dask-cudf-cu12=24.12.0=pypi_0
dask-expr=1.1.19=pypi_0
dataclasses=0.6=pypi_0
dataclasses-json=0.6.7=pypi_0
dataproperty=1.1.0=pypi_0
datasets=3.2.0=pypi_0
dateparser=1.2.1=pypi_0
dav1d=1.2.1=hd590300_0
debugpy=1.8.13=pypi_0
decorator=5.2.1=pypi_0
decord=0.6.0=pypi_0
deepspeed=0.16.4=pypi_0
deepspeed-kernels=0.1.0=pypi_0
defusedxml=0.7.1=pyhd8ed1ab_0
deprecated=1.2.18=pypi_0
deprecation=2.1.0=pypi_0
depyf=0.18.0=pypi_0
detectron2=0.6=pypi_0
determined=0.38.1=pypi_0
dgl=2.4.0=pypi_0
dglgo=0.0.2=pypi_0
diffusers=0.32.2=pypi_0
dill=0.3.6=pypi_0
diskcache=5.6.3=pypi_0
distilabel=1.5.3=pypi_0
distlib=0.3.9=pypi_0
distributed=2024.11.2=pypi_0
distributed-ucxx-cu12=0.41.0=pypi_0
distro=1.9.0=pyhd8ed1ab_1
dlrover=0.4.0=pypi_0
dnspython=2.7.0=pypi_0
docker=7.1.0=pypi_0
docker-pycreds=0.4.0=pypi_0
docstring-parser=0.16=pypi_0
docstring-to-markdown=0.16=pypi_0
docutils=0.21.2=pypi_0
docx2txt=0.9=pypi_0
dropout-layer-norm=0.1=pypi_0
duckduckgo-search=5.3.1b1=pypi_0
durationpy=0.9=pypi_0
e2b=1.3.1=pypi_0
e2b-code-interpreter=1.1.1=pypi_0
easydl-sdk=0.0.6=pypi_0
editdistance=0.8.1=pypi_0
einops=0.8.1=pypi_0
einops-exts=0.0.4=pypi_0
elastic-transport=8.17.1=pypi_0
elasticsearch=8.17.2=pypi_0
email-validator=2.2.0=pypi_0
entrypoints=0.3=pypi_0
et-xmlfile=2.0.0=pypi_0
eval-type-backport=0.2.2=pypi_0
evalscope=0.16.0=pypi_0
evaluate=0.4.3=pypi_0
exceptiongroup=1.2.2=pypi_0
executing=2.2.0=pypi_0
fabric=3.2.2=pypi_0
face-alignment=1.3.4=pypi_0
facexlib=0.3.0=pypi_0
fairscale=0.4.1=pypi_0
faiss-cpu=1.10.0=pypi_0
fastai=2.7.19=pypi_0
fastapi=0.115.4=pypi_0
fastapi-cli=0.0.7=pypi_0
fastbpe=0.1.0=pypi_0
fastcore=1.7.29=pypi_0
fastdownload=0.0.7=pypi_0
fastjsonschema=2.21.1=pypi_0
fastparquet=2024.11.0=pypi_0
fastprogress=1.0.3=pypi_0
fastrlock=0.8.3=pypi_0
fbgemm-gpu=1.0.0=pypi_0
fe=0.3.33=pypi_0
feedfinder2=0.0.4=pypi_0
feedparser=6.0.11=pypi_0
ffmpeg=7.1.0=gpl_he2fd91e_702
ffmpeg-python=0.2.0=pypi_0
ffmpy=0.5.0=pypi_0
filelock=3.18.0=pypi_0
filesplit=4.0.1=pypi_0
filterpy=1.4.5=pypi_0
fire=0.5.0=pypi_0
flake8=7.1.2=pypi_0
flash-attn=2.7.4.post1=pypi_0
flash-attn-1=0.2.6.post2=pypi_0
flashinfer-python=0.2.3=pypi_0
flask=3.1.0=pypi_0
flask-babel=4.0.0=pypi_0
flask-cors=5.0.1=pypi_0
flatbuffers=25.2.10=pypi_0
fmt=11.0.2=h434a139_0
font-ttf-dejavu-sans-mono=2.37=hab24e00_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-noto-cjk=2.004=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=h77eed37_3
fontconfig=2.15.0=h7e30c49_1
fonts-conda-ecosystem=1=0
fonts-conda-forge=1=0
fonttools=4.56.0=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.13.3=h48d6fc4_0
fribidi=1.0.10=h36c2ea0_0
frozendict=2.3.8=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=2024.6.1=pypi_0
ft-attention=0.1=pypi_0
ftfy=6.3.1=pypi_0
func-timeout=4.3.5=pypi_0
fused-dense-lib=0.0.0=pypi_0
fused-softmax-lib=0.0.0=pypi_0
future=1.0.0=pypi_0
fuzzywuzzy=0.18.0=pypi_0
fvcore=0.1.5.post20221221=pypi_0
galore-torch=1.0=pypi_0
gast=0.6.0=pypi_0
gdk-pixbuf=2.42.12=hb9ae30d_0
gekko=1.2.1=pypi_0
gensim=4.3.3=pypi_0
gguf=0.10.0=pypi_0
git=2.47.0=pl5321h59d505e_0
git-lfs=3.6.1=h59e48b9_0
gitdb=4.0.12=pypi_0
gitpython=3.1.40=pypi_0
glm-flash-attn=2.3.6=pypi_0
gmp=6.3.0=hac33072_2
gnutls=3.7.6=he274497_3
google=3.0.0=pypi_0
google-api-core=2.24.2=pypi_0
google-api-python-client=2.165.0=pypi_0
google-auth=2.38.0=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-cloud-core=2.4.3=pypi_0
google-cloud-storage=3.1.0=pypi_0
google-crc32c=1.7.0=pypi_0
google-pasta=0.2.0=pypi_0
google-resumable-media=2.7.2=pypi_0
googleapis-common-protos=1.69.2=pypi_0
gpustat=1.1.1=pypi_0
gpy=1.13.2=pypi_0
gql=3.5.2=pypi_0
gradio=5.21.0=pypi_0
gradio-client=1.7.2=pypi_0
graphite2=1.3.13=h59595ed_1003
graphql-core=3.2.4=pypi_0
greenlet=3.1.1=pypi_0
griffe=0.49.0=pypi_0
groovy=0.1.2=pypi_0
groundingdino=0.1.0=pypi_0
grouped-gemm=0.1.6=pypi_0
grpcio=1.71.0=pypi_0
grpcio-channelz=1.34.0=pypi_0
grpcio-tools=1.48.2=pypi_0
h11=0.14.0=pypi_0
h2=4.2.0=pyhd8ed1ab_0
h5py=3.12.1=pypi_0
harfbuzz=9.0.0=hfac3d4d_0
hdbscan=0.8.40=pypi_0
hf-transfer=0.1.9=pypi_0
hjson=3.1.0=pypi_0
hpack=4.1.0=pyhd8ed1ab_0
html2text=2024.2.26=pypi_0
httpcore=1.0.7=pypi_0
httpie=3.2.4=pyh55f8243_1
httplib2=0.22.0=pypi_0
httptools=0.6.4=pypi_0
httpx=0.27.2=pypi_0
huggingface-hub=0.29.3=pypi_0
human-eval=1.0.3=pypi_0
humanfriendly=10.0=pypi_0
hydra-core=1.3.2=pypi_0
hyperframe=6.1.0=pyhd8ed1ab_0
hyperlink=21.0.0=pypi_0
icetk=0.0.4=pypi_0
icu=73.2=h59595ed_0
id=1.5.0=pypi_0
identify=2.6.9=pypi_0
idna=3.10=pyhd8ed1ab_1
ilock=1.0.3=pypi_0
imageio=2.37.0=pypi_0
imageio-ffmpeg=0.6.0=pypi_0
imagesize=1.4.1=pypi_0
immutabledict=4.2.1=pypi_0
importlib-metadata=8.6.1=pypi_0
importlib-resources=6.5.2=pypi_0
incremental=22.10.0=pypi_0
iniconfig=2.1.0=pypi_0
inotify-tools=3.20.2=h516909a_0
inquirerpy=0.3.4=pypi_0
interegular=0.3.3=pypi_0
invoke=2.2.0=pypi_0
iopath=0.1.9=pypi_0
iprogress=0.4=pypi_0
ipykernel=6.29.5=pypi_0
ipython=8.34.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.1.5=pypi_0
iredis=1.15.0=pypi_0
isodate=0.7.2=pypi_0
isoduration=20.11.0=pypi_0
isort=6.0.1=pypi_0
itemadapter=0.11.0=pypi_0
itemloaders=1.3.2=pypi_0
iterative-stratification=0.1.9=pypi_0
itsdangerous=2.2.0=pypi_0
jaraco-classes=3.4.0=pypi_0
jaraco-context=6.0.1=pypi_0
jaraco-functools=4.1.0=pypi_0
jax=0.5.3=pypi_0
jax-cuda12-pjrt=0.5.3=pypi_0
jax-cuda12-plugin=0.5.3=pypi_0
jaxlib=0.5.3=pypi_0
jedi=0.19.2=pypi_0
jedi-language-server=0.44.0=pypi_0
jeepney=0.9.0=pypi_0
jieba=0.42.1=pypi_0
jieba3k=0.35.1=pypi_0
jinja2=3.1.6=pypi_0
jinjasql=0.1.8=pypi_0
jiojio=1.2.7=pypi_0
jionlp=1.5.20=pypi_0
jiter=0.9.0=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.4.2=pypi_0
json5=0.10.0=pypi_0
jsonlines=4.0.0=pypi_0
jsonpatch=1.33=pyhd8ed1ab_1
jsonpath-ng=1.7.0=pypi_0
jsonpointer=3.0.0=py310hff52083_1
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-client=7.4.9=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-contrib-core=0.4.2=pypi_0
jupyter-contrib-nbextensions=0.7.0=pypi_0
jupyter-core=5.7.2=pypi_0
jupyter-events=0.12.0=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-nbextensions-configurator=0.6.4=pypi_0
jupyter-server=2.15.0=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyterlab=4.3.6=pypi_0
jupyterlab-code-formatter=3.0.2=pypi_0
jupyterlab-execute-time=3.2.0=pypi_0
jupyterlab-lsp=5.1.0=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
keras=3.9.0=pypi_0
keyring=25.6.0=pypi_0
keyutils=1.6.1=h166bdaf_0
kiwisolver=1.4.8=pypi_0
kmitool=0.0.9=pypi_0
kornia=0.8.1=pypi_0
kornia-rs=0.1.9=pypi_0
krb5=1.21.3=h659f571_0
kubemaker=0.2.20=pypi_0
kubernetes=32.0.1=pypi_0
lagent=0.2.4=pypi_0
lame=3.100=h166bdaf_1003
langchain-community=0.0.38=pypi_0
langchain-core=0.1.53=pypi_0
langcodes=3.5.0=pypi_0
langdetect=1.0.9=pypi_0
langsmith=0.1.147=pypi_0
language-data=1.3.0=pypi_0
lark=1.2.2=pypi_0
latex2mathml=3.77.0=pypi_0
latex2sympy2=1.5.4=pypi_0
latex2sympy2-extended=1.0.9=pypi_0
lazy-loader=0.4=pypi_0
ld_impl_linux-64=2.43=h712a8e2_4
lerc=4.0.0=h27087fc_0
levenshtein=0.27.1=pypi_0
libabseil=20240116.2=cxx17_he02047a_1
libaio=0.3.113=h166bdaf_0
libarchive=3.7.4=hfca40fe_0
libasprintf=0.23.1=h8e693c7_0
libass=0.17.3=h1dc1e6a_0
libboost=1.82.0=h6fcfa73_6
libcap=2.71=h39aace5_0
libclang=18.1.1=pypi_0
libcudf-cu12=24.12.0=pypi_0
libcurl=8.10.1=hbbe4b11_0
libdeflate=1.23=h4ddbbb0_0
libdrm=2.4.124=hb9d3cd8_0
libedit=3.1.20250104=pl5321h7949ede_0
libegl=1.7.0=ha4b6fd6_2
libev=4.33=hd590300_2
libexpat=2.6.4=h5888daf_0
libffi=3.4.6=h2dba641_0
libgcc=13.3.0=h767d61c_2
libgcc-ng=13.3.0=h69a702a_2
libgcrypt-lib=1.11.0=hb9d3cd8_2
libgettextpo=0.23.1=h5888daf_0
libgl=1.7.0=ha4b6fd6_2
libglib=2.82.2=h2ff4ddf_1
libglvnd=1.7.0=ha4b6fd6_2
libglx=1.7.0=ha4b6fd6_2
libgomp=13.3.0=h767d61c_2
libgpg-error=1.51=hbd13f7d_1
libhwloc=2.11.2=default_he43201b_1000
libiconv=1.18=h4ce23a2_1
libidn2=2.3.8=ha4ef2c3_0
libjpeg-turbo=3.0.0=hd590300_1
libkvikio-cu12=24.12.1=pypi_0
liblzma=5.6.4=hb9d3cd8_0
liblzma-devel=5.6.4=hb9d3cd8_0
libmamba=1.5.10=hf72d635_1
libmambapy=1.5.10=py310h6639945_1
libnghttp2=1.64.0=h161d5f1_0
libnsl=2.0.1=hd590300_0
libopenvino=2024.4.0=hac27bb2_0
libopenvino-auto-batch-plugin=2024.4.0=h4d9b6c2_0
libopenvino-auto-plugin=2024.4.0=h4d9b6c2_0
libopenvino-hetero-plugin=2024.4.0=h3f63f65_0
libopenvino-intel-cpu-plugin=2024.4.0=hac27bb2_0
libopenvino-intel-gpu-plugin=2024.4.0=hac27bb2_0
libopenvino-intel-npu-plugin=2024.4.0=hac27bb2_0
libopenvino-ir-frontend=2024.4.0=h3f63f65_0
libopenvino-onnx-frontend=2024.4.0=h56242b0_0
libopenvino-paddle-frontend=2024.4.0=h56242b0_0
libopenvino-pytorch-frontend=2024.4.0=h5888daf_0
libopenvino-tensorflow-frontend=2024.4.0=h358ae18_0
libopenvino-tensorflow-lite-frontend=2024.4.0=h5888daf_0
libopus=1.3.1=h7f98852_1
libpciaccess=0.18=hd590300_0
libpng=1.6.47=h943b412_0
libprotobuf=4.25.3=hd5b35b9_1
librosa=0.11.0=pypi_0
librsvg=2.58.4=hc0ffecb_0
libsolv=0.7.30=h3509ff9_0
libsqlite=3.49.1=hee588c1_2
libssh2=1.11.0=h0841786_0
libstdcxx=13.3.0=h8f9b012_2
libstdcxx-ng=13.3.0=h4852527_2
libsystemd0=256.9=h2774228_0
libtasn1=4.20.0=hb9d3cd8_0
libtiff=4.7.0=hd9ff511_3
libucx-cu12=1.17.0.post1=pypi_0
libucxx-cu12=0.41.0=pypi_0
libunistring=0.9.10=h7f98852_0
libuuid=2.38.1=h0b41bf4_0
libuv=1.50.0=hb9d3cd8_0
libva=2.22.0=h4f16b4b_2
libvpx=1.14.1=hac33072_0
libwebp-base=1.5.0=h851e524_0
libxcb=1.17.0=h8a09558_0
libxcrypt=4.4.36=hd590300_1
libxml2=2.12.7=h4c95cb1_3
libzlib=1.3.1=hb9d3cd8_2
liger-kernel=0.5.3=pypi_0
lighteval=0.8.1=pypi_0
lightgbm=4.6.0=pypi_0
lightning=2.5.1=pypi_0
lightning-utilities=0.14.2=pypi_0
littleutils=0.2.4=pypi_0
llama-cpp-python=0.3.8=pypi_0
llamafactory=0.9.2=pypi_0
llava=1.2.2=pypi_0
llmtuner=0.7.1=pypi_0
llvm-openmp=20.1.1=h024ca30_1
llvmlite=0.43.0=pypi_0
lm-eval=0.4.8=pypi_0
lm-format-enforcer=0.10.11=pypi_0
lmdb=1.6.2=pypi_0
lmdeploy=0.7.2.post1=pypi_0
locket=1.0.0=pypi_0
logits-processor-zoo=0.1.4=pypi_0
loguru=0.7.3=pypi_0
lomond=0.3.3=pypi_0
lpips=0.1.4=pypi_0
lsprotocol=2023.0.1=pypi_0
lxml=5.3.1=pypi_0
lz4=4.4.3=pypi_0
lz4-c=1.9.4=hcb278e6_0
lzo=2.10=hd590300_1001
m2crypto=0.43.0=pypi_0
magma-cuda126=2.6.1=1
mako=1.3.9=pypi_0
mamba=1.5.10=py310h51d5547_1
mamba-ssm=2.2.4=pypi_0
marisa-trie=1.2.1=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pyhd8ed1ab_1
markdown2=2.5.3=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.26.1=pypi_0
math-verify=0.5.2=pypi_0
matplotlib=3.10.1=pypi_0
matplotlib-inline=0.1.7=pypi_0
max-common=2.20250324.2=pypi_0
max-finetune=1.1.20240109=pypi_0
max-solution=1.20240912.1=pypi_0
maya-tools=0.0.5=pypi_0
mbstrdecoder=1.1.4=pypi_0
mccabe=0.7.0=pypi_0
mdatasets=0.3.28=pypi_0
mdurl=0.1.2=pyhd8ed1ab_1
mediapipe=0.10.21=pypi_0
megablocks=0.8.0=pypi_0
menuinst=2.2.0=py310hff52083_0
miditoolkit=1.0.1=pypi_0
mido=1.3.3=pypi_0
mist-sdk-py3=1.1.7=pypi_0
mistral-common=1.5.4=pypi_0
mistune=3.1.3=pypi_0
mkl=2025.0.1=h901ac74_21
ml-dtypes=0.5.1=pypi_0
mlrunner=0.5.9=pypi_0
mmagic=1.2.0=pypi_0
mmcls=0.25.0=pypi_0
mmcv=2.1.0=pypi_0
mmdeploy=1.3.1=pypi_0
mmdet=3.3.0=pypi_0
mmengine=0.10.7=pypi_0
mmengine-lite=0.10.7=pypi_0
mmsegmentation=1.2.2=pypi_0
modelscope=1.24.0=pypi_0
monotonic=1.6=pypi_0
more-itertools=10.6.0=pypi_0
mosaicml=0.29.0=pypi_0
mosaicml-cli=0.6.42=pypi_0
moviepy=2.1.2=pypi_0
mpi4py=4.0.3=pypi_0
mpmath=1.3.0=pypi_0
ms-opencompass=0.1.6=pypi_0
ms-swift=3.4.0=pypi_0
ms-vlmeval=0.0.17=pypi_0
msgpack=1.1.0=pypi_0
msgspec=0.19.0=pypi_0
mteb=1.36.32=pypi_0
multidict=6.2.0=py310h89163eb_0
multiprocess=0.70.14=pypi_0
murmurhash=1.0.12=pypi_0
murmurhash2=0.2.10=pypi_0
my-inference-ops=0.0.1+torch2.6cu126=pypi_0
mypy-extensions=1.0.0=pypi_0
namex=0.0.8=pypi_0
narwhals=1.32.0=pypi_0
nbclassic=1.2.0=pypi_0
nbclient=0.10.2=pypi_0
nbconvert=7.16.6=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.5=h2d0b736_3
ndindex=1.9.2=pypi_0
nest-asyncio=1.6.0=pypi_0
nettle=3.8.1=hc379101_1
networkx=3.4.2=pypi_0
newspaper3k=0.2.8=pypi_0
nh3=0.2.21=pypi_0
ninja=1.11.1.4=pypi_0
nlohmann_json=3.11.3=he02047a_1
nltk=3.9.1=pypi_0
nn-pruning=0.1.2=pypi_0
nodeenv=1.9.1=pypi_0
nodejs=22.6.0=h6d9b948_0
nose=1.3.7=pypi_0
notebook=6.5.7=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.60.0=pypi_0
numba-cuda=0.0.17.1=pypi_0
numexpr=2.10.2=pypi_0
numpy=1.26.4=pypi_0
numpydoc=1.8.0=pypi_0
nvidia-cutlass=3.8.0.0=pypi_0
nvidia-ml-py=12.570.86=pypi_0
nvidia-modelopt=0.23.2=pypi_0
nvidia-modelopt-core=0.23.2=pypi_0
nvitop=1.4.2=pypi_0
nvtop=3.1.0=h2d0b736_1
nvtx=0.2.11=pypi_0
oauthlib=3.2.2=pypi_0
ocl-icd=2.3.2=hb9d3cd8_2
ocl-icd-system=1.0.0=1
ogb=1.3.6=pypi_0
omegaconf=2.3.0=pypi_0
onnx=1.17.0=pypi_0
onnx-graphsurgeon=0.5.6=pypi_0
onnx-simplifier=0.4.36=pypi_0
onnxconverter-common=1.14.0=pypi_0
onnxoptimizer=0.3.13=pypi_0
onnxruntime=1.21.0=pypi_0
onnxruntime-gpu=1.20.2=pypi_0
open-fonts=0.7.0=1
open-r1=0.1.0.dev0=pypi_0
openai=1.68.2=pypi_0
opencc=1.1.9=pypi_0
opencl-headers=2024.10.24=h5888daf_0
opencompass=0.4.1=pypi_0
opencv-contrib-python=4.11.0.86=pypi_0
opencv-contrib-python-headless=4.11.0.86=pypi_0
opencv-python=4.11.0.86=pypi_0
opencv-python-headless=4.11.0.86=pypi_0
openh264=2.4.1=h59595ed_0
openpyxl=3.1.5=pypi_0
openssl=3.4.1=h7b32b05_0
opentelemetry-api=1.12.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.12.0=pypi_0
opentelemetry-proto=1.12.0=pypi_0
opentelemetry-sdk=1.12.0=pypi_0
opentelemetry-semantic-conventions=0.33b0=pypi_0
opt-einsum=3.3.0=pypi_0
optimum=1.24.0=pypi_0
optree=0.14.1=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.10.16=pypi_0
oss2=2.19.1=pypi_0
outcome=1.3.0.post0=pypi_0
outdated=0.2.2=pypi_0
outlines=0.1.11=pypi_0
outlines-core=0.1.26=pypi_0
overrides=7.7.0=pypi_0
p11-kit=0.25.3=he72ba39_0
packaging=24.1=pypi_0
paddle2onnx=2.0.0=pypi_0
paddlefsl=1.1.0=pypi_0
paddlenlp=2.8.1=pypi_0
paddleocr=2.10.0=pypi_0
paddlepaddle=2.5.2=pypi_0
paddlepaddle-gpu=2.6.0.post120=pypi_0
pandas=2.2.3=pypi_0
pandocfilters=1.5.1=pypi_0
pango=1.54.0=h4c5309f_1
parameterized=0.9.0=pypi_0
paramiko=3.5.1=pypi_0
paramz=0.9.6=pypi_0
parsel=1.10.0=pypi_0
parso=0.8.4=pypi_0
partd=1.4.2=pypi_0
partial-json-parser=0.2.1.1.post5=pypi_0
pathspec=0.12.1=pypi_0
pathvalidate=3.2.3=pypi_0
pcre2=10.44=hba22ea6_2
pebble=5.1.1=pypi_0
peft=0.12.0=pypi_0
peppercorn=0.6=pypi_0
perl=5.32.1=7_hd590300_perl5
pexpect=4.9.0=pypi_0
pfzy=0.3.4=pypi_0
phx-class-registry=4.1.0=pypi_0
pillow=10.3.0=pypi_0
pip=25.0.1=pyh8b19718_0
pixman=0.44.2=h29eaf8c_0
platformdirs=4.3.7=pyh29332c3_0
plotly=6.0.1=pypi_0
pluggy=1.5.0=pyhd8ed1ab_1
plumbum=1.9.0=pypi_0
ply=3.11=pypi_0
polars=1.26.0=pypi_0
polygon3=3.0.9.1=pypi_0
polygraphy=0.49.20=pypi_0
pooch=1.8.2=pypi_0
portalocker=3.1.1=pypi_0
posthog=3.21.0=pypi_0
pre-commit=4.2.0=pypi_0
preshed=3.0.9=pypi_0
pretty-midi=0.2.10=pypi_0
prettytable=3.16.0=pypi_0
price-parser=0.4.0=pypi_0
proces=0.1.7=pypi_0
proglog=0.1.10=pypi_0
prometheus-client=0.21.1=pypi_0
prometheus-fastapi-instrumentator=7.1.0=pypi_0
prompt-toolkit=3.0.50=pypi_0
propcache=0.3.0=pypi_0
protego=0.4.0=pypi_0
proto-plus=1.26.1=pypi_0
protobuf=3.20.3=pypi_0
protobuf-c=1.5.0=hc9a23c6_2
psutil=7.0.0=pypi_0
ptable=0.9.2=pypi_0
pthread-stubs=0.4=hb9d3cd8_1002
ptyprocess=0.7.0=pypi_0
pugixml=1.14=h59595ed_0
pulp=3.1.1=pypi_0
pulsar-client=3.6.1=pypi_0
pure-eval=0.2.3=pypi_0
py=1.11.0=pypi_0
py-cpuinfo=9.0.0=pypi_0
py-midi=2.0.1=pypi_0
pyahocorasick=2.1.0=pypi_0
pyaml=21.10.1=pypi_0
pyarrow=19.0.1=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pybind11=2.11.1=pypi_0
pybind11-abi=4=hd8ed1ab_3
pyclipper=1.3.0.post6=pypi_0
pycocotools=2.0.8=pypi_0
pycodestyle=2.12.1=pypi_0
pycosat=0.6.6=py310ha75aee5_2
pycountry=24.6.1=pypi_0
pycparser=2.22=pyh29332c3_1
pycryptodome=3.22.0=pypi_0
pycuda=2025.1=pypi_0
pydantic=2.10.6=pypi_0
pydantic-core=2.27.2=pypi_0
pydeck=0.9.1=pypi_0
pydes=2.0.1=pypi_0
pydispatcher=2.0.7=pypi_0
pydot=3.0.4=pypi_0
pydub=0.25.1=pypi_0
pyext=0.7=pypi_0
pyflakes=3.2.0=pypi_0
pyg-lib=0.4.0=pypi_0
pygls=1.3.1=pypi_0
pygments=2.19.1=pyhd8ed1ab_0
pyhocon=0.3.61=pypi_0
pyinotify=0.9.6=pypi_0
pylatexenc=2.10=pypi_0
pylibcudf-cu12=24.12.0=pypi_0
pylibraft-cu12=24.12.0=pypi_0
pylint=3.3.6=pypi_0
pymoo=0.5.0=pypi_0
pymysql=1.1.1=pypi_0
pynacl=1.5.0=pypi_0
pynndescent=0.5.13=pypi_0
pynvjitlink-cu12=0.5.2=pypi_0
pynvml=12.0.0=pypi_0
pyodps=0.12.2.1=pypi_0
pyomo=6.9.1=pypi_0
pyopenssl=25.0.0=pypi_0
pyparsing=3.2.3=pypi_0
pypdf=4.1.0=pypi_0
pypianoroll=1.0.4=pypi_0
pypika=0.48.9=pypi_0
pypinyin=0.53.0=pypi_0
pyproject-hooks=1.2.0=pypi_0
pyserial=3.5=pypi_0
pysocks=1.7.1=pyha55dd90_7
pysqlite3=0.5.4=pypi_0
pytablewriter=1.2.1=pypi_0
pytest=8.3.5=pypi_0
python=3.10.15=h4a871b0_2_cpython
python-dateutil=2.8.2=pypi_0
python-docx=1.1.2=pypi_0
python-dotenv=1.1.0=pypi_0
python-graphviz=0.20.3=pypi_0
python-json-logger=3.3.0=pypi_0
python-levenshtein=0.27.1=pypi_0
python-multipart=0.0.20=pypi_0
python_abi=3.10=5_cp310
pytools=2025.1.1=pypi_0
pytorch-lightning=2.5.1=pypi_0
pytorch-ranger=0.1.1=pypi_0
pytrec-eval-terrier=0.5.6=pypi_0
pytz=2025.2=pypi_0
pywavelets=1.8.0=pypi_0
pyworld=0.3.5=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.3.0=pypi_0
questionary=2.1.0=pypi_0
queuelib=1.7.0=pypi_0
qwen-vl-utils=0.0.10=pypi_0
raft-dask-cu12=24.12.0=pypi_0
rank-bm25=0.2.2=pypi_0
rapidfuzz=3.12.2=pypi_0
rapids-dask-dependency=24.12.0=pypi_0
rarfile=4.2=pypi_0
ray=2.44.0=pypi_0
rdkit-pypi=2022.9.5=pypi_0
readline=8.2=h8c095d6_2
readme-renderer=44.0=pypi_0
redis=3.5.3=pypi_0
redis-server=7.4.0=h3400bea_0
referencing=0.36.2=pypi_0
regex=2024.11.6=pypi_0
reproc=14.2.5.post0=hb9d3cd8_0
reproc-cpp=14.2.5.post0=h5888daf_0
requests=2.32.3=pyhd8ed1ab_1
requests-file=2.1.0=pypi_0
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pyhd8ed1ab_1
resize-right=0.0.2=pypi_0
retry=0.9.2=pypi_0
retrying=1.3.4=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986=2.0.0=pypi_0
rfc3986-validator=0.1.1=pypi_0
rhash=1.4.5=hb9d3cd8_0
rich=13.9.4=pyhd8ed1ab_1
rich-toolkit=0.13.2=pypi_0
rjieba=0.1.13=pypi_0
rmm-cu12=24.12.1=pypi_0
roformer=0.4.3=pypi_0
rotary-emb=0.1=pypi_0
rouge=1.0.1=pypi_0
rouge-chinese=1.0.3=pypi_0
rouge-score=0.1.2=pypi_0
rpds-py=0.23.1=pypi_0
rpyc=6.0.0=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.40=pypi_0
ruamel.yaml.clib=0.2.8=py310ha75aee5_1
ruff=0.11.2=pypi_0
s2wrapper=0.1=pypi_0
s3transfer=0.11.4=pypi_0
sacrebleu=2.5.1=pypi_0
safehttpx=0.1.6=pypi_0
safetensors=0.5.3=pypi_0
scikit-build=0.18.1=pypi_0
scikit-image=0.25.2=pypi_0
scikit-learn=1.5.0=pypi_0
scipy=1.13.1=pypi_0
scrapy=2.12.0=pypi_0
seaborn=0.13.2=pypi_0
secretstorage=3.3.3=pypi_0
segment-anything=1.0=pypi_0
selenium=4.18.1=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.3=pypi_0
sentence-transformers=3.4.1=pypi_0
sentencepiece=0.2.0=pypi_0
sentry-sdk=2.24.0=pypi_0
seqeval=1.2.2=pypi_0
service-identity=24.2.0=pypi_0
serving-common-lib=1.13.14=pypi_0
setfit=1.1.1=pypi_0
setproctitle=1.3.5=pypi_0
setuptools=69.5.1=pypi_0
setuptools-scm=8.2.0=pypi_0
sgl-kernel=0.0.5.post3=pypi_0
sglang=0.4.4.post1=pypi_0
sgmllib3k=1.0.0=pypi_0
shapely=2.0.7=pypi_0
shellingham=1.5.4=pypi_0
shortuuid=1.0.13=pypi_0
shtab=1.7.1=pypi_0
simcse=0.4=pypi_0
simdjson=3.12.2=h84d6215_0
simplejson=3.20.1=pypi_0
simsimd=6.2.1=pypi_0
six=1.17.0=pypi_0
skorch=1.1.0=pypi_0
smart-open=7.1.0=pypi_0
smartinfra=1.1.7=pypi_0
smmap=5.0.2=pypi_0
snappy=1.2.1=h8bd8927_1
sniffio=1.3.1=pypi_0
snowballstemmer=2.2.0=pypi_0
socksio=1.0.0=pypi_0
sortedcontainers=2.4.0=pypi_0
sounddevice=0.5.1=pypi_0
soundfile=0.13.1=pypi_0
soupsieve=2.6=pypi_0
soxr=0.5.0.post1=pypi_0
spacy=3.7.5=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
spdlog=1.15.1=hb29a8c4_0
sphinx=8.1.3=pypi_0
sphinxcontrib-applehelp=2.0.0=pypi_0
sphinxcontrib-devhelp=2.0.0=pypi_0
sphinxcontrib-htmlhelp=2.1.0=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=2.0.0=pypi_0
sphinxcontrib-serializinghtml=2.0.0=pypi_0
sqlalchemy=2.0.39=pypi_0
sqlite=3.49.1=h9eae976_2
sqlitedict=2.1.0=pypi_0
sqlparse=0.5.3=pypi_0
srsly=2.5.1=pypi_0
sse-starlette=2.2.1=pypi_0
sseclient-py=1.8.0=pypi_0
stack-data=0.6.3=pypi_0
stanford-stk=0.7.1=pypi_0
starlette=0.41.3=pypi_0
streamlit=1.44.0=pypi_0
strenum=0.4.15=pypi_0
stringzilla=3.12.3=pypi_0
sty=1.0.6=pypi_0
submitit=1.5.2=pypi_0
superqa=0.0.4.4=pypi_0
supervision=0.25.1=pypi_0
svgwrite=1.4.3=pypi_0
svt-av1=2.2.1=h5888daf_0
swankit=0.1.8=pypi_0
swanlab=0.5.9=pypi_0
swig=4.3.0=pypi_0
sympy=1.13.1=pypi_0
tabledata=1.3.4=pypi_0
tables=3.10.1=pypi_0
tabulate=0.9.0=pypi_0
tbase=0.2.15=pypi_0
tbb=2022.0.0=hceb3a55_0
tblib=3.0.0=pypi_0
tcolorpy=0.1.7=pypi_0
tenacity=9.0.0=pypi_0
tensorboard=2.16.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorboardx=2.6.2.2=pypi_0
tensordict=0.5.0=pypi_0
tensorflow=2.16.1=pypi_0
tensorflow-io=0.37.0=pypi_0
tensorflow-io-gcs-filesystem=0.37.0=pypi_0
tensorrt=10.8.0.43=pypi_0
tensorrt-dispatch=10.8.0.43=pypi_0
tensorrt-lean=10.8.0.43=pypi_0
tensorrt-llm=0.17.0.post1=pypi_0
termcolor=2.3.0=pypi_0
terminado=0.18.1=pypi_0
terminaltables=3.1.10=pypi_0
tf-keras=2.16.0=pypi_0
tfplus-pangu=0.2.17=pypi_0
tfrecord=1.14.5=pypi_0
thinc=8.2.5=pypi_0
threadpoolctl=3.6.0=pypi_0
tifffile=2025.3.13=pypi_0
tiktoken=0.7.0=pypi_0
timeout-decorator=0.5.0=pypi_0
timm=1.0.15=pypi_0
tinycss2=1.4.0=pypi_0
tinysegmenter=0.3=pypi_0
tk=8.6.13=noxft_h4845f30_101
tldextract=5.1.3=pypi_0
tokenizers=0.21.0=pypi_0
toml=0.10.2=pypi_0
tomli=2.2.1=pypi_0
tomlkit=0.13.2=pypi_0
tool-helpers=0.1.2=pypi_0
toolz=1.0.0=pypi_0
torch=2.6.0+cu126=pypi_0
torch-cluster=1.6.3=pypi_0
torch-optimizer=0.3.0=pypi_0
torch-scatter=2.1.2=pypi_0
torch-sparse=0.6.18=pypi_0
torch-spline-conv=1.2.2=pypi_0
torch-tb-profiler=0.4.3=pypi_0
torchaudio=2.6.0+cu126=pypi_0
torchdata=0.11.0=pypi_0
torchmetrics=1.7.0=pypi_0
torchprofile=0.0.4=pypi_0
torchtext=0.18.0=pypi_0
torchvision=0.21.0+cu126=pypi_0
tornado=6.4.2=pypi_0
tqdm=4.67.1=pyhd8ed1ab_1
tqdm-multiprocess=0.0.11=pypi_0
traitlets=5.14.3=pypi_0
transformer-engine=2.1.0=pypi_0
transformers=4.50.0=pypi_0
transformers-stream-generator=0.0.5=pypi_0
tree-sitter=0.21.3=pypi_0
tree-sitter-languages=1.10.2=pypi_0
treelib=1.7.1=pypi_0
treelite=4.3.0=pypi_0
trio=0.29.0=pypi_0
trio-websocket=0.12.2=pypi_0
triton=3.2.0=pypi_0
trl=0.17.0=pypi_0
truststore=0.10.1=pyh29332c3_0
twine=6.1.0=pypi_0
twisted=24.11.0=pypi_0
typepy=1.3.4=pypi_0
typer=0.15.2=pypi_0
types-python-dateutil=2.9.0.20241206=pypi_0
typing-extensions=4.12.2=hd8ed1ab_1
typing-inspect=0.9.0=pypi_0
typing_extensions=4.12.2=pyha770c72_1
tyro=0.8.14=pypi_0
tzdata=2025.2=pypi_0
tzlocal=5.3.1=pypi_0
ucx-py-cu12=0.41.0=pypi_0
ucxx-cu12=0.41.0=pypi_0
umap-learn=0.5.7=pypi_0
unidecode=1.3.8=pypi_0
uniem=0.3.3=pypi_0
unifile-sdk=0.1.14=pypi_0
universal-pathlib=0.2.6=pypi_0
unsloth=2025.3.18=pypi_0
unsloth-zoo=2025.3.16=pypi_0
uri-template=1.3.0=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.3.0=pyhd8ed1ab_0
uvicorn=0.29.0=pypi_0
uvloop=0.21.0=pypi_0
validators=0.34.0=pypi_0
verl=0.2.0.post2=pypi_0
virtualenv=20.29.3=pypi_0
visualdl=2.5.3=pypi_0
vllm=0.8.1=pypi_0
w3lib=2.3.1=pypi_0
wandb=0.19.8=pypi_0
wasabi=1.1.3=pypi_0
watchdog=2.3.1=pypi_0
watchfiles=1.0.4=pypi_0
wavedrom=2.0.3.post3=pypi_0
wayland=1.23.1=h3e06ad9_0
wayland-protocols=1.42=hd8ed1ab_0
wcwidth=0.1.9=pypi_0
weasel=0.4.1=pypi_0
webcolors=24.11.1=pypi_0
webdriver-manager=4.0.2=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
websockets=15.0.1=pypi_0
werkzeug=3.1.3=pypi_0
wfbuilder=1.0.56.48=pypi_0
wget=3.2=pypi_0
wheel=0.45.1=pyhd8ed1ab_1
widgetsnbextension=4.0.13=pypi_0
word2number=1.1=pypi_0
wrapt=1.17.2=pypi_0
wsproto=1.2.0=pypi_0
x264=1!164.3095=h166bdaf_2
x265=3.5=h924138e_3
xattr=1.1.4=pypi_0
xentropy-cuda-lib=0.1=pypi_0
xformers=0.0.29.post3=pypi_0
xgboost=3.0.0=pypi_0
xgrammar=0.1.16=pypi_0
xlrd=2.0.1=pypi_0
xlsxwriter=3.2.2=pypi_0
xorg-libice=1.1.2=hb9d3cd8_0
xorg-libsm=1.2.6=he73a12e_0
xorg-libx11=1.8.12=h4f16b4b_0
xorg-libxau=1.0.12=hb9d3cd8_0
xorg-libxdmcp=1.1.5=hb9d3cd8_0
xorg-libxext=1.3.6=hb9d3cd8_0
xorg-libxfixes=6.0.1=hb9d3cd8_0
xorg-libxrender=0.9.12=hb9d3cd8_0
xtuner=0.1.23=pypi_0
xxhash=3.5.0=pypi_0
xz=5.6.4=hbcc6ac9_0
xz-gpl-tools=5.6.4=hbcc6ac9_0
xz-tools=5.6.4=hb9d3cd8_0
yacs=0.1.8=pypi_0
yaml-cpp=0.8.0=h59595ed_0
yapf=0.43.0=pypi_0
yarl=1.18.3=pypi_0
zdfs-dfs=2.3.2=pypi_0
zeep=4.3.1=pypi_0
zhenjin-utils=0.0.1.224=pypi_0
zict=3.0.0=pypi_0
zipfile36=0.1.3=pypi_0
zipp=3.21.0=pypi_0
zlib=1.3.1=hb9d3cd8_2
zope-interface=7.2=pypi_0
zstandard=0.23.0=py310ha75aee5_1
zstd=1.5.7=hb8e6e7a_2
